<%- include("../blocks/header.ejs", { title: "Home", form: false }) %>

<section class="bot-container">
    <div class="bot-img-container"><img src="<%= bot.users.get(displayBot.id).displayAvatarURL({ size: 512 }) %>" alt="bot-image" class="bot-image"></div>

    <!-- <div class="center"><div class="bot-image-border"></div></div> -->
    <h1 class="bot-name"><%= displayBot.name %></h1>
    <p class="bot-type-text">Bot</p>
    <ul class="bot-info-list">
        <li class="bot-info-list-item"><%= displayBot.upvotes.toLocaleString() %><br>Upvotes</li>
        <li class="bot-info-list-item"><%= displayBot.serverCount.toLocaleString() %><br>Servers</li>
        <li class="bot-info-list-item"><%= displayBot.shardCount.toLocaleString() %><br>Shards</li>
    </ul>
    <p class="bot-title">Description:</p>
    <p class="bot-short-description"><%= displayBot.shortDesc %></p>
    <p class="bot-prefix-text"><strong>Prefix:</strong> <span class="code-span"><%= displayBot.prefix %></span></p>
    <p class="bot-library-text"><strong>Library:</strong> <span class="code-span"><%= displayBot.library %></span></p>
    <ul class="bot-btn-list">
        <% if (displayBot.website !== "none") { %>
        <li><a href="<%= displayBot.website %>" target="_blank" class="bot-btn-list-item"><i class="fab fa-chrome"></i> Visit Website</a></li>
        <% } %>
        <% if (displayBot.github !== "none") { %>
        <li><a href="<%= displayBot.github %>" target="_blank" class="bot-btn-list-item"><i class="fab fa-github"></i> Visit Repository</a></li>
        <% } %>
        <% if (displayBot.server !== "none") { %>
        <li><a href="<%= displayBot.server %>" target="_blank" class="bot-btn-list-item"><i class="fab fa-discord"></i> Join Support Server</a></li>
        <% } %>
        <li><a class="bot-btn-list-item"><i class="fas fa-flag"></i> Report</a></li>
        <li><a href="#" class="bot-btn-list-item"><i class="fas fa-vote-yea"></i> Upvote</a></li>
        <li><a href="<%= displayBot.invite %>" class="bot-btn-list-item"><i class="far fa-plus-square"></i> Invite</a></li>
        <% if (user && displayBot.owners.includes(user.id) || user && displayBot.mainOwner === user.id) { %>
        <li><a href="#" class="bot-btn-list-item"><i class="fas fa-pencil-alt"></i> Edit</a></li>
        <li><a href="#" class="bot-btn-list-item"><i class="fas fa-trash-alt"></i> Delete</a></li>
        <% } %>
    </ul>
    <p class="bot-title">Tags:</p>
    <ul class="bot-tag-list">
        <% for (var i = 0; i < displayBot.tags.length; i++) { %>
            <li><a href="#" class="bot-tag-list-item"><span class="tag-span"><i class="fas fa-tag"></i> <%= displayBot.tags[i] %></span></a></li>
        <% } %>
    </ul>
    <p class="bot-title">Owners:</p>
    <ul class="bot-owner-list">
        <li><a href="/profile/<%= displayBot.mainOwner %>" class="bot-owner-list-item"><img src="<%= bot.users.get(displayBot.mainOwner) ? bot.users.get(displayBot.mainOwner).displayAvatarURL({ size: 128 }) : '' %>" alt="" class="bot-owner-list-item-photo"> <%= bot.users.get(displayBot.mainOwner) ? bot.users.get(displayBot.mainOwner).tag : 'Unknown#0000' %></a></li>
        <% for (var i = 0; i < displayBot.owners.length; i++) { %>
            <li><a href="/profile/<%= displayBot.owners[i] %>" class="bot-owner-list-item"><img src="<%= bot.users.get(displayBot.owners[i]) ? bot.users.get(displayBot.owners[i]).displayAvatarURL({ size: 128 }) : '' %>" alt="" class="bot-owner-list-item-photo"> <%= bot.users.get(displayBot.owners[i]) ? bot.users.get(displayBot.owners[i]).tag : 'Unknown#0000' %></a></li>
        <% } %>
    </ul>
    <p class="bot-title">Long Description:</p>
    <div class="bot-long-description">
        <%- md.markdown.toHTML(displayBot.longDesc) %>
    </div>
</section>

<%- include("../blocks/footer.ejs") %>
